<div class="flex h-full">
  <div class="flex-1 border-2 border-grey border-solid">
    {{textarea value=templateContent class="w-full h-full font-mono"}}
  </div>
  <div class="flex-1 border-2 border-grey border-solid">
    {{sandbox-freeform templateContent=templateContent class="w-full h-full flex items-center justify-center"}}
  </div>
</div>

